Importing pandas

In [1]:
import pandas as pd

Loading data

In [17]:
df = pd.read_csv("startup_funding2019.csv")

In [19]:
df.head()

,Company Name,Sector,Series,City,Founded,About Company,Founders,Investor,Amount($)
0,Bombay Shaving,Ecommerce,NaN,NaN,NaN,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000"
1,Ruangguru,Edtech,Series C,Mumbai,2014.0,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000"
2,Eduisfun,Edtech,Fresh funding,Mumbai,NaN,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000"
3,HomeLane,Interior design,Series D,Chennai,2014.0,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000"
4,Nu Genes,AgriTech,NaN,Telangana,2004.0,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000"

In [20]:
df.isnull().any()

Company Name     False
Sector            True
Series            True
City              True
Founded           True
About Company    False
Founders          True
Investor         False
Amount($)        False
dtype: bool

Except the "Company Name" and "About Company" column all columns has a null value

# Handling column "Sector"

In [21]:
df["Sector"].isnull().sum()

5

We have found 212 empty values. we can replaced them by either by mode or mean of the column. our method is going to copy the column and work for calculation mean and mode.

In [22]:
my_record = df.Sector # copying the column

In [23]:
my_record.unique()

array(['Ecommerce', 'Edtech', 'Interior design', 'AgriTech', 'Technology',
       'SaaS', 'AI & Tech', 'E-commerce', 'E-commerce & AR', 'Fintech',
       'HR tech', 'Food tech', 'Health', 'Healthcare', 'Safety tech',
       'Pharmaceutical', 'Insurance technology', 'AI', 'Foodtech', 'Food',
       'IoT', 'E-marketplace', 'Robotics & AI', 'Logistics', 'Travel',
       'Manufacturing', 'Food & Nutrition', 'Social Media', nan,
       'E-Sports', 'Cosmetics', 'B2B', 'Jewellery', 'B2B Supply Chain',
       'Games', 'Food & tech', 'Accomodation', 'Automotive tech',
       'Legal tech', 'Mutual Funds', 'Cybersecurity', 'Automobile',
       'Sports', 'Healthtech', 'Yoga & wellness', 'Virtual Banking',
       'Transportation', 'Transport & Rentals',
       'Marketing & Customer loyalty', 'Infratech', 'Hospitality',
       'Automobile & Technology', 'Banking'], dtype=object)

In [24]:
mod_val = my_record.mode()[0]

In [25]:
my_record = my_record.fillna(mod_val)

We are going to fill nan value with the most frequent reesult

In [26]:
my_record.isnull().any()

False

# Handling column "Series"

In [27]:
df.Series.isna().sum()

46

In [32]:
mod_val = df.Series.mode()[0]

In [33]:
mod_val

'Series A'

In [34]:
# collecting nan value index
na = []
for i in range(df.shape[0]):
    if df.Series.isnull()[i] == True:
        na.append(i)

In [35]:
for i in range(len(na)):
    df.Series[na[i]] = mod_val # replacing "nan" with mode value

C:\Users\hp\AppData\Local\Temp\ipykernel_8932\947302051.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Series[na[i]] = mod_val # replacing "nan" with mode value

In [42]:
df.Series.unique()

array(['Series A', 'Series C', 'Fresh funding', 'Series D',
       'Pre series A', 'Series G', 'Series B', 'Post series A',
       'Seed funding', 'Seed fund', 'Series E', 'Series F', 'Series B+',
       'Seed round'], dtype=object)

In [41]:
df.Series = df.Series.replace("Pre-series A","Pre series A")

# Handling column "City"

In [43]:
df.City.isna().sum()

19

In [44]:
df.City.unique()

array([nan, 'Mumbai', 'Chennai', 'Telangana', 'Pune', 'Bangalore',
       'Noida', 'Delhi', 'Ahmedabad', 'Gurugram', 'Haryana', 'Chandigarh',
       'Jaipur', 'New Delhi', 'Surat', 'Uttar pradesh', 'Hyderabad',
       'Rajasthan'], dtype=object)

We need to replace them by "nan"

In [45]:
mod_val = df.City.mode()[0]

In [46]:
mod_val

'Bangalore'

In [47]:
# collecting nan value index
na = []
for i in range(df.shape[0]):
    if df.City.isnull()[i] == True:
        na.append(i)

In [48]:
for i in range(len(na)):
    df.City[na[i]] = mod_val # replacing "nan" with mode value

C:\Users\hp\AppData\Local\Temp\ipykernel_8932\2898883366.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.City[na[i]] = mod_val # replacing "nan" with mode value

In [49]:
df.City.isna().sum()

0

In [50]:
df.City.unique()

array(['Bangalore', 'Mumbai', 'Chennai', 'Telangana', 'Pune', 'Noida',
       'Delhi', 'Ahmedabad', 'Gurugram', 'Haryana', 'Chandigarh',
       'Jaipur', 'New Delhi', 'Surat', 'Uttar pradesh', 'Hyderabad',
       'Rajasthan'], dtype=object)

# Handling column "Founded"

In [51]:
df.Founded.isna().sum()

29

In [52]:
my_record = df.Founded # copying the column to calculate median

In [53]:
my_record = my_record.dropna() # droping "nan" from the column to calculate median

In [54]:
my_record.median() # 2015 is the median

2015.0

In [55]:
df.Founded = df.Founded.fillna(2015)

In [56]:
df.Founded.isna().sum()

0

# Handling column "Founders"

In [57]:
df.Founders.isna().sum()

3

Since column "Founders" is usefull column it does not be affected by mean or median. we just drop the rename it as "Unkown"

In [58]:
df.Founders.dropna().inplace=True

In [59]:
df.Founders.isnull()[0]

False

In [60]:
# collecting na values
na = []
for i in range(df.shape[0]):
    if df.Founders.isnull()[i] == True:
        na.append(i)

In [61]:
for i in range(len(na)):
    df.Founders[na[i]] = "Unknown"

C:\Users\hp\AppData\Local\Temp\ipykernel_8932\456150993.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Founders[na[i]] = "Unknown"

In [62]:
df.Founders.isnull()[0]

False

In [63]:
df.isnull().any()

Company Name     False
Sector            True
Series           False
City             False
Founded          False
About Company    False
Founders         False
Investor         False
Amount($)        False
dtype: bool

# Handling column "Sector"

In [64]:
df.Sector.isnull().sum()

5

In [65]:
df.Sector.unique()

array(['Ecommerce', 'Edtech', 'Interior design', 'AgriTech', 'Technology',
       'SaaS', 'AI & Tech', 'E-commerce', 'E-commerce & AR', 'Fintech',
       'HR tech', 'Food tech', 'Health', 'Healthcare', 'Safety tech',
       'Pharmaceutical', 'Insurance technology', 'AI', 'Foodtech', 'Food',
       'IoT', 'E-marketplace', 'Robotics & AI', 'Logistics', 'Travel',
       'Manufacturing', 'Food & Nutrition', 'Social Media', nan,
       'E-Sports', 'Cosmetics', 'B2B', 'Jewellery', 'B2B Supply Chain',
       'Games', 'Food & tech', 'Accomodation', 'Automotive tech',
       'Legal tech', 'Mutual Funds', 'Cybersecurity', 'Automobile',
       'Sports', 'Healthtech', 'Yoga & wellness', 'Virtual Banking',
       'Transportation', 'Transport & Rentals',
       'Marketing & Customer loyalty', 'Infratech', 'Hospitality',
       'Automobile & Technology', 'Banking'], dtype=object)

In [66]:
mod_val = df.Sector.mode()[0]

In [67]:
df.Sector = df.Sector.fillna(mod_val)

In [68]:
df.Sector.isnull().sum()

0

In [69]:
df["Amount($)"]

0       $6,300,000
1     $150,000,000
2      $28,000,000
3      $30,000,000
4       $6,000,000
          ...
84     $20,000,000
85    $693,000,000
86      $5,000,000
87     $50,000,000
88     $33,000,000
Name: Amount($), Length: 89, dtype: object

In [70]:
df["Amount($)"] = df["Amount($)"].apply(lambda x : x[1:]) # eliminating "$" sign

In [71]:
df["Amount($)"] = df["Amount($)"].apply(lambda x: x.replace(',', '')) # removing comma

In [72]:
df["Amount($)"] = df["Amount($)"].replace("ndisclosed", "0") # substituting string

In [73]:
df["Amount($)"] = df["Amount($)"].astype(float) # converting to float

In [74]:
df.columns

Index(['Company Name', 'Sector', 'Series', 'City', 'Founded', 'About Company',
       'Founders', 'Investor', 'Amount($)'],
      dtype='object')

In [75]:
df.Series = df.Series.apply(lambda x: str(x).replace("0    ","")) # removing comma

In [76]:
df.Series = df.Series.apply(lambda x: str(x).replace("0    ","")) # removing comma

In [77]:
df.Series = df.Series.apply(lambda x: str(x).replace("\nName: Series, dtype: object","")) # removing uncecessary strings

In [78]:
df.Series[4]

'Series A'

# Renaming columns

In [79]:
df.columns

Index(['Company Name', 'Sector', 'Series', 'City', 'Founded', 'About Company',
       'Founders', 'Investor', 'Amount($)'],
      dtype='object')

In [80]:
df = df.rename(columns={"About Company": "What it does"})

In [81]:
file_name = "cleaned 2019.xlsx"

df.to_excel(file_name)