Importing Pandas

In [1]:
import pandas as pd

Loading the data set

In [2]:
df = pd.read_csv("startup_funding2018.csv")

In [3]:
df.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

# Handling column "Amount"
Handling the column called "Amount". It contains two types of curency Indian and United state. For this situation we can group them into a single currency, to United State ($).

In [4]:
df.Amount = df.Amount.apply(lambda x: x.replace(",",""))  # removing comma from the string

In [5]:
df.Amount = df.Amount.apply(lambda x: x.replace("—","0"))  # removing comma from the string

In [6]:
df.Amount

0         250000
1      ₹40000000
2      ₹65000000
3        2000000
4              0
         ...
521    225000000
522            0
523         7500
524    ₹35000000
525     35000000
Name: Amount, Length: 526, dtype: object

Now we are going to create a function inorder to change USD exchange rate to indians rupees.

In [7]:
# A function for changing the currency to usa
def change_to_usa(cell, loc):
    
    cell_2 = ""
    cell_1 = cell[1:]  # removing the dollar sign using slice method
    
    # check if there is space at the first character
    if cell_1[0] == " ":
        cell_2 = cell_1[1:] # removing space character
    else:
        cell_2 = cell_1
        
        print(cell_2)
    
    converted = float(cell_2) # convert the value to float
    print(converted,loc)
    
    df["Amount"][loc] = converted * 0.012 # changing the currency to indians rupees and assigning to its own place in dataframe

Now we declare a function for controlling the currency and handle the rest of errors

In [8]:
# Loop through the column
for i in range(df.shape[0]):
    if df["Amount"][i][0] == '$':
        
        change_to_usa(df["Amount"][i], i ) # function calling
        continue
        
    if df["Amount"][i][0] == '₹':
        
            
        result = df["Amount"][i].replace("₹","")
        
        converted = float(result)
        print(converted,i)
    
        df["Amount"][i] = converted # assigning to the correct place in the dataframe

40000000.0 1
65000000.0 2
16000000.0 6
50000000.0 7
100000000.0 15
500000.0 19
35000000.0 22
64000000.0 23
20000000.0 30
30000000.0 37
40000000.0 42
5000000.0 49
20000000.0 50
40000000.0 51
20000000.0 52
12500000.0 54
15000000.0 55
104000000.0 58
45000000.0 59
25000000.0 64
26400000.0 66
8000000.0 69
60000.0 70
34000000.0 83
342000000.0 85
143145
143145.0 86
600000000.0 88
742000000
742000000.0 90
1000000000.0 91
2000000000.0 92
3980000
3980000.0 93
2000000000.0 94
10000
10000.0 95
1000000000.0 97
100000.0 98
250000000.0 99
2000000000.0 100
1000000000
1000000000.0 101
7000000
7000000.0 102
35000000
35000000.0 104
550000000.0 105
28500000
28500000.0 106
30000000.0 107
2000000
2000000.0 108
240000000.0 109
120000000.0 113
2400000
2400000.0 114
30000000
30000000.0 115
2500000000.0 116
23000000
23000000.0 117
150000
150000.0 119
11000000
11000000.0 122
44000000.0 123
3240000
3240000.0 124
60000000.0 126
2500000000.0 127
540000000
540000000.0 130
650000000.0 131
1600000000.0 132
900000
900000.0 134
10000000
10000000.0 135
1500000
1500000.0 138
50000000.0 140
70000000.0 141
1000000
1000000.0 143
5000000
5000000.0 144
16000000.0 145
14000000
14000000.0 146
102500000.0 147
100000000
100000000.0 148
550000000.0 149
20000000.0 151
2000000
2000000.0 152
1200000.0 154
250000000.0 155
5200000000.0 156
800000
800000.0 159
1041000
1041000.0 160
100000
100000.0 161
100000
100000.0 162
100000.0 164
15000
15000.0 166
50000000.0 171
100000000.0 177
9500000.0 185
150000000.0 193
7000000.0 210
1400000.0 211
50000000.0 215
10000000.0 220
22500000.0 221
5000000.0 222
50000000.0 231
140200000.0 233
30000000.0 240
19200000.0 241
103000000.0 242
40000000.0 244
35000000.0 251
100000000.0 253
200000.0 258
16600000.0 268
12000000.0 269
20000000.0 273
30000000.0 276
33000000.0 283
34900000.0 295
72000000.0 298
50000000.0 299
120000000.0 303
35000000.0 308
32000000.0 309
250000000.0 312
135000000.0 315
15000000.0 329
20000000.0 330
10000000.0 333
135000000.0 334
50000000.0 336
20000000.0 337
64000000.0 341
50000000.0 342
10000000
10000000.0 349
40000000.0 350
40000000
40000000.0 351
1100000
1100000.0 353
50000000
50000000.0 354
1500000
1500000.0 355
1540000000.0 356
3000000
3000000.0 358
45000000.0 359
100000000
100000000.0 360
1500000
1500000.0 361
6000000
6000000.0 362
140000000.0 363
60000000.0 364
3000000
3000000.0 365
100000
100000.0 367
5000000.0 368
41900000
41900000.0 369
11000000
11000000.0 370
100000000
100000000.0 372
1410000000.0 373
3530000
3530000.0 375
72000000.0 376
200000
200000.0 377
3300000
3300000.0 378
240000000.0 379
1000000
1000000.0 380
580000000.0 382
2000000
2000000.0 384
100000
100000.0 385
6000000
6000000.0 386
36000000.0 387
340000000.0 388
210000000
210000000.0 389
35000000.0 390
70000000.0 391
11000000
11000000.0 392
50000000.0 394
70000000.0 395
5000000
5000000.0 396
37680000
37680000.0 397
50000000
50000000.0 399
1000000
1000000.0 400
250000
250000.0 401
20000
20000.0 403
900000
900000.0 404
1200000.0 406
40000000.0 410
510000000.0 411
2200000000.0 412
15392000000.0 420
20000000000.0 421
4000000000.0 422
25000000.0 424
140000000.0 426
165000000.0 437
650000000.0 438
210000000.0 443
20000000.0 447
2029600000.0 448
600000000.0 450
80000000.0 452
280000000.0 456
800000000.0 457
730000000.0 464
400000000.0 469
600000000.0 470
140000000.0 474
260000000.0 476
150000000.0 478
12000000.0 481
400000000.0 488
8750000.0 496
78000000.0 500
12500000.0 507
264000000.0 509
1130000000.0 513
810000000.0 514
1400000000.0 516
10000000.0 517
35000000.0 524

Finally we can convert our column type to float

In [9]:
df.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [10]:
df.Amount = df["Amount"].astype(float)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    float64
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: float64(1), object(5)
memory usage: 24.8+ KB

# Handling Column "Round/Series"

In [12]:
df.rename(columns = { "Round/Series" : "Series"}, inplace=True) # rename the column

In column "Series" there is one cell with unexpected value. For handling this cell we can replace it with the most frequent category from the column.

In [13]:
most_frequent_category=df.Series.mode()[0] # extracting  the most frequentedly recorded value

In [14]:
most_frequent_category

'Seed'

In [15]:
value_index = df[df.Series.str.startswith("http")].index # searching for the value and taking the index

In [16]:
value_index

Int64Index([178], dtype='int64')

In [17]:
df.Series[178] = "Seed" # assigning the value

C:\Users\hp\AppData\Local\Temp\ipykernel_9332\2782197659.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Series[178] = "Seed" # assigning the value

In [18]:
df.Series[178]

'Seed'

# Handling column "Location"

This column has from one to three places inside one cell. we need to place them inside new columns.

In [19]:
df[['City','Sub city', "Country"]] = df['Location'].str.split(',',expand=True)

## 1. Handling column "City"

In [20]:
df["City"].unique()

array(['Bangalore', 'Mumbai', 'Gurgaon', 'Noida', 'Hyderabad',
       'Bengaluru', 'Kalkaji', 'Delhi', 'India', 'Hubli', 'New Delhi',
       'Chennai', 'Mohali', 'Kolkata', 'Pune', 'Jodhpur', 'Kanpur',
       'Ahmedabad', 'Azadpur', 'Haryana', 'Cochin', 'Faridabad', 'Jaipur',
       'Kota', 'Anand', 'Bangalore City', 'Belgaum', 'Thane', 'Margão',
       'Indore', 'Alwar', 'Kannur', 'Trivandrum', 'Ernakulam',
       'Kormangala', 'Uttar Pradesh', 'Andheri', 'Mylapore', 'Ghaziabad',
       'Kochi', 'Powai', 'Guntur', 'Kalpakkam', 'Bhopal', 'Coimbatore',
       'Worli', 'Alleppey', 'Chandigarh', 'Guindy', 'Lucknow'],
      dtype=object)

As we can see "India" is also recorded as a city. So we replace it with the most frequesnt one.

In [21]:
most_frequent_category = df.City.mode()[0] # extracting  the most frequentedly recorded value

In [22]:
most_frequent_category

'Bangalore'

In [23]:
df['City'] = df['City'].apply(lambda x: most_frequent_category if x == "India" else x) # replacing values (India) with the frequent one

In [24]:
df.City.unique()

array(['Bangalore', 'Mumbai', 'Gurgaon', 'Noida', 'Hyderabad',
       'Bengaluru', 'Kalkaji', 'Delhi', 'Hubli', 'New Delhi', 'Chennai',
       'Mohali', 'Kolkata', 'Pune', 'Jodhpur', 'Kanpur', 'Ahmedabad',
       'Azadpur', 'Haryana', 'Cochin', 'Faridabad', 'Jaipur', 'Kota',
       'Anand', 'Bangalore City', 'Belgaum', 'Thane', 'Margão', 'Indore',
       'Alwar', 'Kannur', 'Trivandrum', 'Ernakulam', 'Kormangala',
       'Uttar Pradesh', 'Andheri', 'Mylapore', 'Ghaziabad', 'Kochi',
       'Powai', 'Guntur', 'Kalpakkam', 'Bhopal', 'Coimbatore', 'Worli',
       'Alleppey', 'Chandigarh', 'Guindy', 'Lucknow'], dtype=object)

## 2. Handling column "Sub city"

In [25]:
df["Sub city"].unique()

array([' Karnataka', ' Maharashtra', ' Haryana', ' Uttar Pradesh',
       ' Andhra Pradesh', ' Delhi', ' Asia', ' Tamil Nadu', ' Punjab',
       ' West Bengal', ' Rajasthan', ' Gujarat', ' Kerala', ' Goa',
       ' Madhya Pradesh', ' India', ' Assam', ' Chandigarh'], dtype=object)

In this column "Asia" is recorded as Sub city. We need to do same thing replacing by the frequented calue

In [26]:
most_frequent_category=df["Sub city"].mode()[0] # extracting  the most frequentedly recorded value

In [27]:
most_frequent_category

' Karnataka'

In [28]:
df['Sub city'] = df['Sub city'].apply(lambda x: most_frequent_category if x == "Asia" else x) # replacing values (Asia) with the frequent one

In [29]:
df["Sub city"].unique()

array([' Karnataka', ' Maharashtra', ' Haryana', ' Uttar Pradesh',
       ' Andhra Pradesh', ' Delhi', ' Asia', ' Tamil Nadu', ' Punjab',
       ' West Bengal', ' Rajasthan', ' Gujarat', ' Kerala', ' Goa',
       ' Madhya Pradesh', ' India', ' Assam', ' Chandigarh'], dtype=object)

## Handling column "Country"

The Data set is about india which means we do not to specify the country for each entry, because it known.

In [30]:
df.Country.unique()

array([' India', None, ' Asia'], dtype=object)

The column contains "India" and the continent called "Asia". Depending on this fact, it is better to delete this column. Because it is not providing any information.

In addtion, we have split the column called "Location". Now it is better to drop the column.

In [31]:
df.drop(['Country', 'Location'], axis=1, inplace=True)

In [32]:
df.columns

Index(['Company Name', 'Industry', 'Series', 'Amount', 'About Company', 'City',
       'Sub city'],
      dtype='object')

## Handling column "Industry"

The industry column can be splited into industry and sector

In [33]:
df.columns

Index(['Company Name', 'Industry', 'Series', 'Amount', 'About Company', 'City',
       'Sub city'],
      dtype='object')

In [34]:
df[['Industry', 'Sector']] = df['Industry'].str.split(',', n=1, expand=True) # splitting the column into "Industry" and "Sector"

In [35]:
df.Industry.isna().sum()

0

In [36]:
df.columns

Index(['Company Name', 'Industry', 'Series', 'Amount', 'About Company', 'City',
       'Sub city', 'Sector'],
      dtype='object')

# removing duplicate values

In [37]:
df = df.drop_duplicates()

In [38]:
df.columns

Index(['Company Name', 'Industry', 'Series', 'Amount', 'About Company', 'City',
       'Sub city', 'Sector'],
      dtype='object')

In [42]:
df = df.rename(columns = {'Company Name' : "Company/Brand", 'About Company': "What it does", 'Amount': "Amount($)"})

In [43]:
df.columns

Index(['Company/Brand', 'Industry', 'Series', 'Amount($)', 'What it does',
       'City', 'Sub city', 'Sector'],
      dtype='object')

# Exporting the file

In [44]:
file_name = "cleaned 2018.xlsx"

df.to_excel(file_name)

In [43]:
df

,Company Name,Industry,Series,Amount(₹),About Company,City,Sub city,Sector
0,TheCollegeFever,Brand Marketing,Seed,250000.0,"TheCollegeFever is a hub for fun, fiesta and f...",Bangalore,Karnataka,"Event Promotion, Marketing, Sponsorship, Tick..."
1,Happy Cow Dairy,Agriculture,Seed,40000000.0,A startup which aggregates milk from dairy far...,Mumbai,Maharashtra,Farming
2,MyLoanCare,Credit,Series A,65000000.0,Leading Online Loans Marketplace in India,Gurgaon,Haryana,"Financial Services, Lending, Marketplace"
3,PayMe India,Financial Services,Angel,2000000.0,PayMe India is an innovative FinTech organizat...,Noida,Uttar Pradesh,FinTech
4,Eunimart,E-Commerce Platforms,Seed,0.0,Eunimart is a one stop solution for merchants ...,Hyderabad,Andhra Pradesh,"Retail, SaaS"
...,...,...,...,...,...,...,...,...
521,Udaan,B2B,Series C,225000000.0,"Udaan is a B2B trade platform, designed specif...",Bangalore,Karnataka,"Business Development, Internet, Marketplace"
522,Happyeasygo Group,Tourism,Series A,0.0,HappyEasyGo is an online travel domain.,Haryana,Haryana,Travel
523,Mombay,Food and Beverage,Seed,7500.0,Mombay is a unique opportunity for housewives ...,Mumbai,Maharashtra,"Food Delivery, Internet"
524,Droni Tech,Information Technology,Seed,35000000.0,Droni Tech manufacture UAVs and develop softwa...,Mumbai,Maharashtra,None
525,Netmeds,Biotechnology,Series C,35000000.0,Welcome to India's most convenient pharmacy!,Chennai,Tamil Nadu,"Health Care, Pharmaceutical"

## Finally we have removed, in excel side, Column1